<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate </title>
    <link rel="stylesheet" href="../css/styles.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<header>
    <img id="logo3" src="../css/logo3.png" alt="logo3">
    <a href="/login"> <button id="header-button" style="right:0;" >Sign in</button></a>
</header>

<!-- Rest of your website content goes here -->

<nav class="nav">
    <button type="button" class="nav-close" onclick="toggleNav()">
        <ion-icon name="close-outline" size="large"></ion-icon>
    </button>
    <div class="nav-links-container" id="AdminMenu" >

        <a href="/ViewBrokers" class="nav__link">
            <span class="nav__text">View All Brokers</span>
            <ion-icon name="eye-outline" size="large"></ion-icon>
        </a>

        <a href="/editMyInfoA" class="nav__link">
            <span class="nav__text">Personal Info</span>
            <ion-icon name="person-outline" size="large"></ion-icon>
        </a>
        <form action="/logout" method="post">
            <button id="header-button"> log out </button>
        </form>



    </div>
</nav>
<main class="main">
    <button onclick="toggleNav()"><ion-icon name="menu-outline"></ion-icon></button>

</main>
<script>
    function toggleNav() {
        document.body.classList.toggle("nav-open");
    }
</script>



<h1> Edit Admin <%= admin.name %></h1>
<p> change whatever information you need to change <br> to keep old password type it again</p>
<form action="/editBroker" method="POST">
<div class="input-box">

    <label for="name">Name</label> <br>
    <input type="text" value="<%= admin.name %>" name="name" required>
</div> <br>
<div class="input-box">
    <label for="email">Username</label> <br>
    <input type="text" value="<%= admin.username %>" name="username" required>
    <input type="text" value="<%= admin.username %>" name="user_id" style="display: none">
</div> <br>
<div class="input-box">
    <label for="password">Password</label> <br>
    <input type="password" placeholder="****" name="password" required>
</div>
<button id="header-button" type="submit" class="btn"> Edit </button>
</form>



<script type="module" src=" https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src=" https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
