THINGS TO REMEMBER

1- NEVER PUSH DIRECTLY OR MODIFY MASTER WITHOUT PUSHING ON YOUR BRANCH FIRST.
2- TEST CODE BEFORE PUSH TO MASTER
3- YOU HAVE TO COMMIT BEFORE PUSH
4- PULL FROM BRANCH BEFORE PUSH
5- WHENEVER YOU FINISH CODING FOR THE DAY COMMIT AND PUSH YOUR CODE TO YOUR BRANCH
6- after you finish working update contribution file
7- if you are very late on schedule or need help ask team member. :D
