<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Header</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <img id="logo3" src="logo3.png" alt="logo3">
    <a href="login.html"> <button id="header-button" >Sign in</button></a>
</header>

<!-- Rest of your website content goes here -->

<nav class="nav">
    <button type="button" class="nav-close" onclick="toggleNav()">
        <ion-icon name="close-outline" size="large"></ion-icon>
    </button>
    <div class="nav-links-container" id="BaseMenu" >
        <a href="#" class="nav__link">
            <span class="nav__text">Buy</span>
            <ion-icon name="cash-outline" size="large"></ion-icon>
        </a>

        <a href="#" class="nav__link">
            <span class="nav__text">Rent</span>
            <ion-icon name="card-outline" size="large"></ion-icon>

        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Favorites</span>
            <ion-icon name="heart-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Calendar</span>
            <ion-icon name="calendar-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Personal Info</span>
            <ion-icon name="person-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Morgage Calculator</span>
            <ion-icon name="calculator-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Find Agent</span>
            <ion-icon name="search-outline" size="large"></ion-icon>
        </a>

    </div>
    <div class="nav-links-container" id="BrokerMenu"  style="display: none">
        <a href="#" class="nav__link">
            <span class="nav__text">Buy / Rent</span>
            <ion-icon name="cash-outline" size="large"></ion-icon>
        </a>

        <a href="#" class="nav__link">
            <span class="nav__text">My Listings</span>
            <ion-icon name="list-outline" size="large"></ion-icon>

        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">My Visits</span>
            <ion-icon name="calendar-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Visit Requests</span>
            <ion-icon name="calendar-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Personal Info</span>
            <ion-icon name="person-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Calendar</span>
            <ion-icon name="calculator-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Match Property</span>
            <ion-icon name="search-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Offers</span>
            <ion-icon name="cash-outline" size="large"></ion-icon>
        </a>

    </div>
    <div class="nav-links-container" id="AdminMenu" style="display:none">
        <a href="#" class="nav__link">
            <span class="nav__text">Add Broker</span>
            <ion-icon name="add-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">Edit Broker</span>
            <ion-icon name="create-outline" size="large"></ion-icon>
        </a>
        <a href="#" class="nav__link">
            <span class="nav__text">See All Brokers</span>
            <ion-icon name="eye-outline" size="large"></ion-icon>
        </a>

        <a href="#" class="nav__link">
            <span class="nav__text">Personal Info</span>
            <ion-icon name="person-outline" size="large"></ion-icon>
        </a>

        <a href="#" class="nav__link">
            <span class="nav__text">CRUD Admin</span>
            <ion-icon name="search-outline" size="large"></ion-icon>
        </a>


    </div>
</nav>
<main class="main">
    <button onclick="toggleNav()"><ion-icon name="menu-outline"></ion-icon></button>

</main>
<script>
    function toggleNav() {
        document.body.classList.toggle("nav-open");
    }
</script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<!--Putting the search bar +other features -->
<p>d</p>
<br>
<form>
      <!--search start-->
<label for="search"></label><br>
<input type="text" id="search" name ="link" placeholder="Search your property..." size ="50">
<br>
 <!--search end-->
<!--price start-->

<label for="price">Price:</label><br>
<input type="text" id="price" name ="link"placeholder="Please enter a price...">
<br>
<!--price end-->
<!--Location start-->
<label for="location">Location:</label><br>
<input type="text" id="location" name ="link"placeholder="Please enter a location...">

<br>
<!--Location end-->
<!--Number of bathrooms start-->
<label for="bathrooms">Number of Bathrooms:</label><br>
<select name="link" id="bathrooms">
    
    <option>Please select the number of Bathrooms....</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>

</select>
<!--Number of bathrooms ends-->
<!--Number of bedrooms start--><br>
<label for="bedrooms">Number of Bedrooms:</label><br>
<select name="link" id="bedrooms">
    
    <option>Please select the number of Bedrooms....</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>

</select>
<!--Number of bedrooms ends-->



<!--Furnished starts-->
<br>
<label for="furnish">Furnished:</label><br>
<LABEL><input type ="radio"name="link" value="yes"id="furnishYes"> Yes</LABEL><br>
<LABEL><input type ="radio"name="link" value="no"id="furnishNo"> No</LABEL><br>
<!--Furnished ends-->
<!--year start-->

<label for="yearBuilt">Year Built:</label><br>
<input type="text" id="yearBuilt" name ="link"placeholder="Please enter a year...">
<br>
<!--year end-->
<!--Extra start-->
<p>Extra</p>
<br><LABEL><input type ="checkbox"name="link" value="Pool"id="extraPool"> 
Pool
</LABEL>
<br><LABEL><input type ="checkbox"name="link" value="Gym"id="extraGym"> 
    Gym
    </LABEL>
    <br><LABEL><input type ="checkbox"name="link" value="Sauna"id="extraSauna"> 
       Sauna
        </LABEL>
        <br><LABEL><input type ="checkbox"name="link" value="Theater/Cinema"id="extraCinema"> 
           Theater/Cinema
            </LABEL>

<!--Extra finish-->
            <br>
             <!--Property start-->
<label for="propertyType">Property Type:</label><br>
<select name="link" id="propertyType">
    
    <option>Please select the type of Property....</option>
    <option>Single-Family Home</option>
    <option>Apartment</option>
    <option>Farm</option>
    <option>Duplex</option>
    <option>Triplex</option>
    <option>Multi-Family Home</option>
    <option>Quadruplex</option>
    <option>Quintuplex</option>

</select>
<!--Property ends-->
<br>
<!--Number of floors start-->
<label for="floors">Number of Floors:</label><br>
<select name="link" id="floors">
 
 <option>Please select the number of floors....</option>
 <option>1</option>
 <option>2</option>
 <option>3</option>
 <option>4</option>
 <option>5</option>
 <option>6</option>
 <option>7</option>
 <option>8</option>
 <option>9</option>

</select>
<!--Number of floors ends-->
<br>
<!--size start-->

<label for="sizeOfProperty">The size of the property:</label><br>
<input type="text" id="sizeOfProperty" name ="link"placeholder="Please enter the size of the property...">
<br>
<!--size end-->

<!--Number of garage start-->
<label for="garage">Number of Garages:</label><br>
<select name="link" id="garage">

<option>Please select the number of Garages....</option>
<option>Yes</option>
<option>No</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>

</select>
<!--Number of garage ends-->
<br>

<!--Number of listing type start-->
<label for="listingType">Listing Type:</label><br>
<select name="link" id="listingType">

<option>Please select the listing type....</option>
<option>Buy</option>
<option>Sold</option>
<option>Rent</option>

</select>
<!--Number of listing type ends-->

<br>
<!-- listing date start-->
<p>Sort by:</p>
<br><LABEL><input type ="radio"name="linkRadio" value="new"id="ListingDateNew"> 
Newest Date Posted
</LABEL>
<LABEL><input type ="radio"name="linkRadio" value="old"id="ListingDateOld" > 
    Oldest Date Posted
    </LABEL>

<!-- listing date end-->
<br>
<br>
<!-- submit start-->
<input type="submit" value="Search" id="searchButton">

<!-- submit end-->
<br>
<br>
</form>







<!--End of the new (search+features) -->

</html>
