
/*.propCardOuterBody {*/
/*    display: block;*/
/*}*/
/*.propCard {*/
/*    border: 1px solid #ccc;*/
/*    !*display: inline block;*!*/
/*    width: 290px;*/
/*    max-width: 290px;*/
/*    background-color: #fff;*/
/*    flex: 1 0 auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


/*.propCardHeader {*/
/*    display:flex;*/
/*    justify-content: space-between;*/
/*    align-items:center;*/
/*    padding: 7px;*/
/*    min-height:calc(45px - 14px);*/
/*}*/

/*.propCardHeaderLeft {*/
/*    text-align: left;*/
/*}*/

/*.propCardHeaderRight {*/
/*    text-align: right;*/
/*}*/

/*.propCardFooter {*/
/*    font-size: .85rem;*/
/*    border-top: 1px solid #ccc;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.propCardFooterLeft {*/
/*    width: 70px;*/
/*}*/

/*.propCardFooterCenter {*/
/*    text-align: center;*/
/*}*/

/*.propCardFooterRight{*/
/*    width: 70px;*/
/*}*/

/*.propCardImageCon {*/
/*    width: 280px;*/
/*    height: 200px;*/
/*    margin: auto;*/
/*}*/

/*.propCardImage {*/
/*    object-fit: contain;*/
/*    margin: auto;*/
/*    display: block;*/
/*    vertical-align: middle;*/
/*    width: 256px;*/
/*    height: 200px;*/
/*}*/

/*.propCardBody {*/
/*    padding: 15px;*/
/*}*/
/*.propCardTopBody{*/
/*    display: block;*/
/*}*/
/*.propCardPrice {*/
/*    font-size: 1.6rem;*/
/*    font-weight: 600;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    height: 30px;*/
/*    display: block;*/
/*    white-space: nowrap;*/
/*    color: #1c7e97;*/
/*}*/

/*.propCardAddress {*/
/*    font-size: 1rem;*/
/*    padding-top: 7px;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    display: -webkit-box;*/
/*    -webkit-box-orient: vertical;*/
/*    -webkit-line-clamp: 3;*/
/*    line-height: 1.2em;*/
/*    max-height: 3.6em;*/
/*}*/

/*.propCardIconStrip {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -webkit-box-align: start;*/
/*    -ms-flex-align: start;*/
/*    align-items: flex-start;*/
/*    padding: 15px 0;*/
/*    color: #666;*/
/*    margin-top: 7px;*/
/*}*/

/*.propCardIconCon{*/
/*    text-align: center;*/
/*    flex-basis: 33%;*/
/*    -ms-flex-preferred-size: 33%;*/
/*}*/

/*.propCardIconTopCon {*/
/*    height: 24px;*/
/*}*/

/*.propCardIconNum {*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/

/*.propCardIcon {*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/

/*.propCardIconText {*/
/*    font-size: .75rem;*/
/*}*/
/*.swiper-wrapper {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*}*/

.property { padding-block: var(--section-padding); }

.property-card {
    border: 1px solid var(--alice-blue);
    box-shadow: var(--shadow-2);
}

.property-card .card-banner {
    position: relative;
    aspect-ratio: 2 / 1.5;
    overflow: hidden;
}

.property-card .card-banner a { height:100%; }

.property-card .card-banner img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;

}

.property-card:hover .card-banner img {transform: scale(1.1);}

.property-card .card-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.95), transparent 30%);
    z-index:1;
}

.property-card .banner-actions {
    position:absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 15px 10px;
    z-index: 1;
}

.banner-actions-btn {
    color: var(--white);
    font-size: var(--fs-6);
    line-height: 1;
    display:flex;
    align-items: flex-end;
    gap: 4px;
}

.banner-actions-btn ion-icon { font-size: 16px;}

.banner-actions-btn:first-child {margin-right:auto;}

.banner-actions-btn:is (:hover, :focus) { color: var(--orange-soda); }
