
header {
    background-size: cover;
    background-position: center;
    height: 100px;
    text-align: center;
    color: #ff585f;
    font-family: sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
}




#logo {
    float: left;
    width: 20%;
}



#header-button {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5733;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50%;
    padding: 1% 2%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

#header-button:hover {
    background-color: #e64c00;
}
<<<<<<< Updated upstream
=======
body {
    margin: 0;
    overflow-x: hidden;
    background-color: whitesmoke;/*new*/
}
>>>>>>> Stashed changes


#move-page_title {
    position: absolute;
    top: 10px;
    left: 10px;
}
<<<<<<< Updated upstream
=======

.nav {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    transform: translateX(-350px);
    transition: transform 0.2s;
    overflow: hidden;
}

.nav-close {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    padding: 15px 25px;
    color: #dddddd;
    margin-top: auto;
    cursor: pointer;
}

.nav-close:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav-links-container {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    text-decoration: none;
    color: #dddddd;
}

.nav__text {
    font-size: 22px;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.main {
    transition: transform 0.2s;
}

/*new*/
form{
    background-color:rgb(229, 239, 242);
    cursor:pointer;
}
>>>>>>> Stashed changes
